<!DOCTYPE html>
<html>
	<head>
		<title>Delete Contacts</title>
    </head>  	
    <body>
		<form method = "POST" action = "/delete_contact">
			<div> <label>Name:</label> <input type = "text" name = "name"> </div>
    		<div><input type = "submit" value = "Delete"> </div>
		</form>
	</body>	
</html>